#section2 {
    height: 100vh;
    padding-top: 25vh;
}

#topicsHeader {
    text-align: center;
}

#topicsText {
    text-align: center;
}

.topicDiv {
    width: 25%;
    height: 10em;
    display: inline-block;
    text-align: center;
}

.folder {
    width: 50%;
    padding: 5px;
}