#topicsSection {
    display: flex;
}

#resultsSection {
    display: none;
}

.topicsHeader {
    margin: 1em 0 1em 0;
}

.topicDiv {
    width: 25%;
    height: 25vh;
    display: inline-block;
    text-align: center;
    margin-bottom: 2em;
}

.topicBG {
    width: 80%;
    z-index: -1;
}

#resultsSection .topicBG {
    width: 12em;
    margin: 0;
    padding: 0;
    display: auto;
    text-align: center;
}

#resultsSection .topic {
    position: auto;
    margin: 0 auto;
    position: relative !important;
    font-size: 1.25em;
}

#putElement {
    text-align: center;
}

.topicIcon {
    width: 85%;
}

.subtopicsRow {
    margin-top: 5em;
}

.resultsRow {
    height: 85vh;
    overflow: hidden;
    text-overflow: ellipses;
    margin-top: 3em;
}

#results {
    height: 75vh;
    overflow: auto;
}

.result {
    background-image: url(../../images/Card_Result_Active.svg);
    background-size: cover;
    background-repeat: none;
    display: inline-block;
    margin: 0.75em 0.5em 0.75em 0.5em;
    padding: 55px 25px 0 40px;
    color: black;
    height: 270px;
    width: 250px;
    vertical-align: top;
}

.result:hover {
    cursor: pointer;
}

.standard-serial {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.abstract-container {
    height: 7.5em;
    overflow: auto;
    text-overflow: ellipsis;
}

#subtopicNavigationContainer {
    background-image: url('../../images/bkgn_generic_top.png');
    /* margin-top: 3em; */
}

#chosenTopicImg {
    width: 7em;
    height: 7em;
    background-color: rgb(235, 139, 115);
    margin: 0 auto;
    transform: rotate(-10deg);
    margin-top: 2em !important;
    border-radius: 10px;
}

.z {
    z-index: 1;
}

#chosenTopic {
    background-color: white;
    color: rgb(235, 139, 115);
    border-radius: 1.5em;
    padding: 5px 0 5px 0;
}

#topicList {
    list-style: none;
    padding: 0;
    margin: 1em 0 3em 0;
}

#topicList li {
    display: inline-block;
    margin: 0.35em 0.4em 0.35em 0.4em;
    padding: 0 1em 0 1em;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    font-size: 18px;
    transition-duration: 1s;
}

#topicList li:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.15);
    transition-duration: 0.5s;
}

#mymodal {
    text-align: center;
    /* background-color: white; */
    background-image: (url(../../images/bg.jpg));
    background-size: cover;
}

#modalImg {
    /* position: absolute; */
    /* left: 50%;
    transform: translateX(-50%); */
    /* padding: 3em; */
}

.topic {
    position: absolute;
    width: 25%;
    font-size: 1em;
    font-weight: bold;
    padding: 0 2.5em 0 2em;
    /* top: 85%; */
    text-align: left; 
    transform: translateY(-125%) !important;
    /* display: contents; */
    /* white-space: nowrap; */
    /* text-overflow: ellipsis !important;   */
    /* overflow: hidden; */
}

.topicDescriptionDiv {
    background: url('../../images/Description_Box.svg');
    background-size: cover;
    background-repeat: none;
    height: fit-content;
    margin-top: 10vh;
}

#topicsText {
    margin-bottom: 3em;
}
@media only screen and (max-width: 767px) {
    #topicsHeader {
        margin-top: 0;
    }
}