#section2 {
    height: 200vh;
    padding-top: 25vh;
}

.topicsHeader {
    text-align: center;
    margin-top: 15vh;
}

#topicsText {
    text-align: center;
}

.topicDiv {
    width: 25%;
    height: 7.5em;
    display: inline-block;

}

.folder {
    width: 50%;
}

.subtopicsRow {
    margin-top: 5em;
}

@media only screen and (max-width: 767px) {
    #topicsHeader {
        margin-top: 0;
    }
}