#navbar {
    position: fixed;
    margin: 0 auto;
    padding: 0;
    height: 3em;
    width: 100%;
}

.navbarLogo {
    height: 1.25em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3%;
}