.CTARow {
    margin-top: 5em;
    margin-bottom: 3em;
}

#CTAContent {
    background-color: white;
    border-radius: 25px;
    color: black;
    text-align: left;
    padding: 1.5em;
}

#CTAContent h4 {
    font-size: 1.25em;
    font-weight: 00;
    background-color: rgb(236, 236, 236);
    border-radius: 15px;
    padding: 20px;
}

#initialCTAHeader {
    margin-right: 3em;
}

#CTAContent p {
    font-size: 1em;
    font-weight: 300;
    padding: 0 10% 0 10%;
}